body {
  color: #3c484e;
}

em {
  font-style: normal;
  color: #111;
}

.blog-post-content {
  font-size: 120%;
}

a {
  color: #3c484e;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

blockquote {
  font-size: 120%;
  margin-left: 0.45rem;
}

blockquote p::before {
  content: '> ';
}
