nav {
  background: #eee;
  margin-bottom: 1.45rem;
  display: flex !important;
  padding: 20px;
}

nav .box {
  flex: 1;
}

nav .box li {
  list-style-type: none;
  color: black;
}

nav .box li a,
nav .box li a:link,
nav .box li a:visited {
  text-decoration: none;
}

nav .box li a svg {
  color: black;
}
